<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to RPIDS</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>
    <body class="welcome">

      <!-- Columns -->
      <div class="row h-100 w-100 m-0 p-0">
        
        <!-- Left column -->
        <div class="col-8 p-0 left-column d-flex align-items-center justify-content-center min-vh-100">

          <div class="h-100 w-100">
              <!-- Window Toolbar -->
              <div class="w-100 draggable"style="height:5%;"></div>

              <div class="w-100 left-main-content">
            
                <div class="w-100 text-center" style="height:60%;">
                  <div class="h-100 w-100">
                    <img class="my-3" style="width:auto;height:45%;" src="../../../logo.ico">
                    <div class="h-50">
                      <h1 class="welcome-text">Welcome to RPIDS</h1>
                      <p class="welcome-info">
                        Version <span id="version"></span>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="w-100" style="height: 40%;">
    
                  <div class="h-100 w-100 d-flex align-items-center justify-content-center">
    
                    <!-- Available Options -->
                    <div style="height: 80%;width: 70%;">
                      <!-- New Project -->
                      <button type="button" id="create-project" class="welcome mb-3 d-flex align-items-center justify-content-center">
                        <i class="far fa-2x fa-plus-square mr-2"></i> Create a new project
                      </button>
    
                      <!-- Open Project -->
                      <button type="button" id="import-project" class="welcome mb-3 d-flex align-items-center justify-content-center" id="open-project">
                        <i class="far fa-2x fa-folder-open mr-2"></i></i> Open exported project
                      </button>
    
                      <div class="welcome-text form-check" style="margin-top:20%;">
                        <input class="form-check-input" type="checkbox" checked id="show-welcome-page"/>
                        <label class="form-check-label" for="flexCheckDefault">
                          Show this window when RPIDS launches
                        </label>
                      </div>
    
                    </div>
    
                  </div>
                </div>
    
              </div>

          </div>
        </div>
        <!-- /Left Column -->

        <!-- Right Column -->
        <div class="col-4 p-0 right-column min-vh-100">

          <!-- Window Toolbar -->
          <div class="row m-0" style="height: 5%;">
            <span class="h-100 draggable" style="width: 87%;"></span>
            <span class="h-100" style="width: 13%;">
              <button class="btn welcome" id="close-button" type="button">
                <i class="fas fa-times" style="font-size: 18px;color: #848688;"></i>
              </button>
            </span>
          </div>
          
        </div>
        <!-- /Right Column -->

      </div>
      <!-- /Columns -->

    </body>

    <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/81c2f06206.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./renderer.js"></script>
</html>